<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員修改</title>
    <%- include('./header') %>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/javascript.js"></script>

    <script>
      let data = {};

      function get_data() {
        data['user'] = $('#user').val();
      }

      // 設置記錄日期為當前日期
      function setRecordDate() {
        const today = new Date().toISOString().split('T')[0]; // 格式化當前日期為 YYYY-MM-DD
        document.getElementById('record_date').value = today;
      }

      // 在頁面加載時設置記錄日期
      window.onload = function () {
        setRecordDate();
        loadInterests(); // 保留已有的 loadInterests 調用
        let dataElement = document.getElementById('data-json');
        let jsonData;
        if (dataElement && dataElement.textContent) {
          jsonData = JSON.parse(dataElement.textContent);
        } else {
          jsonData = {};
        }
        // $(document).ready(function() {
        //   let dataElement = document.getElementById("data-json");
        //   let jsonData;
        //   if (dataElement && dataElement.textContent){
        //       jsonData = JSON.parse(dataElement.textContent);
        //   } else {
        //       jsonData = {}
        //   }

        if (Object.keys(jsonData).length > 0) {
          $('#email').val(jsonData.EMAIL);
          $('#name').val(jsonData.NAME);
          $('#select_country').val(jsonData.COUNTRY);
          updateCities();
          setTimeout(() => {
            $('#select_city').val(jsonData.CITY);
          }, 300);

          $(`input[name="sex"][value="${jsonData['sex']}"]`).prop(
            'checked',
            true,
          );

          let sell_data = '';
          if (typeof jsonData.sell === 'string') {
            sell_data += `<label><input type="checkbox" name="sell" value="${jsonData.sell}">${jsonData.sell}</label><br>`;
          } else if (typeof jsonData.sell === 'object') {
            for (i = 0; i < jsonData.sell.length; i++) {
              sell_data += `<label><input type="checkbox" name="sell" value="${jsonData.sell[i]}">${jsonData.sell[i]}</label><br>`;
            }
          }
          $('#checkboxContainer').html(sell_data);
          setTimeout(() => {
            if (typeof jsonData.INTERESTS === 'string') {
              $(`input[name="interests"][value="${jsonData.interests}"]`).prop(
                'checked',
                true,
              );
            } else if (typeof jsonData.INTERESTS === 'object') {
              for (i = 0; i < jsonData.INTERESTS.length; i++) {
                $(
                  `input[name="interests"][value="${jsonData.INTERESTS[i]}"]`,
                ).prop('checked', true);
                console.log(
                  `input[name="interests"][value="${jsonData.INTERESTS[i]}"]`,
                );
                console.log(
                  $(
                    `input[name="interests"][value="${jsonData.INTERESTS[i]}"]`,
                  ),
                );
              }
            }
          }, 300);
          $('textarea[name="note"]').val(jsonData.note);
        }
      };

      updateCountry();

      ///專長輸入產生
      function addSkillToCheckbox() {
        var skillInput = document.getElementById('skillInput');
        var skill = skillInput.value.trim();
        if (skill) {
          var checkboxContainer = document.getElementById('checkboxContainer');

          var newCheckbox = document.createElement('input');
          newCheckbox.type = 'checkbox';
          newCheckbox.name = 'sell';
          newCheckbox.value = skill;

          var newLabel = document.createElement('label');
          newLabel.appendChild(newCheckbox);
          newLabel.appendChild(document.createTextNode(skill));

          checkboxContainer.appendChild(newLabel);
          checkboxContainer.appendChild(document.createElement('br'));

          skillInput.value = ''; // 清空輸入框
        } else {
          alert('請輸入專長');
        }
      }

      /////選擇刪除專長
      function removeSelectedSkills() {
        var checkboxContainer = document.getElementById('checkboxContainer');
        var checkboxes = checkboxContainer.querySelectorAll(
          "input[type='checkbox']:checked",
        );

        checkboxes.forEach(function (checkbox) {
          var label = checkbox.parentNode;
          var br = label.nextSibling;
          checkboxContainer.removeChild(label); // 移除標籤（包含複選框）
          checkboxContainer.removeChild(br); // 移除換行符
        });
      }

      // 驗證表單
      function validateForm(event) {
        event.preventDefault(); // 防止表單提交
        $('#checkboxContainer input[type="checkbox"]').prop('checked', true);
        document.forms['registration'].submit();
      }

      ///////json讀入興趣
      // 動態加載興趣列表
      function loadInterests() {
        fetch('/data/interests.json')
          .then((response) => response.json())
          .then((data) => {
            var interestsContainer =
              document.getElementById('interestsContainer');
            data.interests.forEach((interest) => {
              var checkbox = document.createElement('input');
              checkbox.type = 'checkbox';
              checkbox.name = 'interests';
              checkbox.value = interest;

              var label = document.createElement('label');
              label.appendChild(checkbox);
              label.appendChild(document.createTextNode(interest));

              interestsContainer.appendChild(label);
              interestsContainer.appendChild(document.createElement('br'));
            });
          })
          .catch((error) => console.error('Error loading interests:', error));
      }
    </script>
  </head>

<!-- TODO 專長 備註 沒有預先寫入 -->

  <body>
    <%- include('./head') %>
    <div class="container">
      <div class="page-title">會員修改</div>

      <br />
      <form
        name="registration"
        action="/edit_member/<%= member.EMAIL %>"
        method="post"
        onsubmit="validateForm(event)"
      >
        <label class="mb1 left-column" for="email"
          >電子郵件:<sup class="sup-need"> 必填 </sup></label
        >
        <input
          class="mb1 right-column"
          type="email"
          id="email"
          name="email"
          required
        />
        <br />

        <label class="mb1 left-column" for="name"
          >姓名:<sup class="sup-need"> 必填 </sup></label
        >
        <input
          class="mb1 right-column"
          type="text"
          id="name"
          name="name"
          required
        />
        <br />

        <label class="mb1 left-column" for="select_country"
          >國家:<sup class="sup-need"> 必填 </sup></label
        >
        <select
          class="mb1 right-column"
          id="select_country"
          name="select_country"
          size="number"
          onchange="updateCities()"
        ></select>
        <br />

        <label class="mb1 left-column" for="select_country"
          >城市:<sup class="sup-need"> 必填 </sup></label
        >
        <select
          class="mb1 right-column"
          name="select_city"
          id="select_city"
          size="number"
        ></select>
        <br />

        <label class="mb1 left-column">性別:</label>
        <input
          class="mb1"
          type="radio"
          name="sex"
          value="male"
          id="male"
          checked
        /><label for="male">男性</label>
        <input
          class="mb1"
          type="radio"
          name="sex"
          value="female"
          id="female"
        /><label for="female">女性</label>
        <br />

        <label class="mb1 left-column" for="skillInput"
          >專長:<sup class="sup-need"> 必填 </sup></label
        >
        <input
          class="mb1 right-column"
          id="skillInput"
          name="skillInput"
          size="10"
        />
        <button
          type="button"
          name="sel"
          class="add-button"
          onclick="addSkillToCheckbox()"
        >
          新增
        </button>
        <input
          type="button"
          name="show"
          class="del-button"
          onclick="removeSelectedSkills()"
          value="刪除專長"
        />
        <br />
        <br />

        <div id="checkboxContainer"></div>

        <br />
        請選擇感興趣的主題 <br />
        <div id="interestsContainer"></div>

        <br />備註<br />
        <textarea name="note" rows="5" cols="100" wrap="off"></textarea
        ><br /><br />

        <% if (msg) { %>
        <div class="alert alert-danger" role="alert"><%= msg %></div>
        <% } %>
        <!-- <button type="submit" name="send" class="btn btn-outline-primary" onclick="get_data()">送出</button> -->
        <button type="submit" name="send" class="add-button">送出</button>
        <input type="hidden" id="record_date" name="record_date" value="" />
      </form>
    </div>

    <script type="application/json" id="data-json">
      <%- JSON.stringify(member) %>
    </script>
  </body>
</html>
