<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account - List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h1><%=title %></h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Interests</th>
                <th>RECORD_DATE</th>
                <th>NOTE</th>
                <th>Item List</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
                <tr>
                    <td><%= item.ID %></td>
                    <td><%= item.EMAIL %></td>
                    <td><%= item.NAME %></td>
                    <td><%= item.COUNTRY %></td>
                    <td><%= item.CITY %></td>
                    <td><%= item.INTERESTS %></td>
                    <!-- 日期只顯示年月日 -->
                    <td><%= new Date(item.RECORD_DATE).toLocaleDateString('en-CA') %></td> 
                    <td><%= item.NOTE %></td>
                    <td><%= item.PURCHASED_ITEMS %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
