<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員修改</title>
    <%- include('./header') -%>

    <script>
    function updateCities() {
        var country = document.getElementById("select_country").value;
        var citySelect = document.getElementById("select_city");
        citySelect.innerHTML = ""; // 清空城市選項

        // 根據選的國家跳城市
        switch (country) {
            case "台灣":
                citySelect.innerHTML += "<option value='台北'>台北</option>";
                citySelect.innerHTML += "<option value='台中'>台中</option>";
                citySelect.innerHTML += "<option value='高雄'>高雄</option>";
                citySelect.innerHTML += "<option value='台南'>台南</option>";
                citySelect.innerHTML += "<option value='宜蘭'>宜蘭</option>";
                citySelect.innerHTML += "<option value='花蓮'>花蓮</option>";
                citySelect.innerHTML += "<option value='屏東'>屏東</option>";
                break;
            case "美國":
                citySelect.innerHTML += "<option value='紐約'>紐約</option>";
                citySelect.innerHTML += "<option value='洛杉磯'>洛杉磯</option>";
                citySelect.innerHTML += "<option value='芝加哥'>芝加哥</option>";
                citySelect.innerHTML += "<option value='加州'>加州</option>";
                break;
            case "英國":
                citySelect.innerHTML += "<option value='倫敦'>倫敦</option>";
                citySelect.innerHTML += "<option value='愛丁堡'>愛丁堡</option>";
                citySelect.innerHTML += "<option value='牛津'>牛津</option>";
                citySelect.innerHTML += "<option value='劍橋'>劍橋</option>";
                break;
            case "中國":
                citySelect.innerHTML += "<option value='北京'>北京</option>";
                citySelect.innerHTML += "<option value='上海'>上海</option>";
                citySelect.innerHTML += "<option value='廣州'>廣州</option>";
                citySelect.innerHTML += "<option value='哈爾濱'>哈爾濱</option>";
                break;
            default:
                // 無國家 空
                break;
        }
    }

    </script>
    <style>
        /* 增加整体容器的左侧边距 */
        .container {
            margin-left: 20px; /* 可以根据需要调整具体的数值 */
        }


        h1 {
            background-color:#ece8e8;
            color:rgb(153, 151, 151);
            font-size:13px;
            background-size:100%;
        }

        div li {
            display:inline;
            margin-right:10px;
        }

        /*超連結黑色 無下底線*/
        div a {
            color: black;
            text-decoration: none;
            }

        div p {
            width: 120px;
            text-align:center;
            background-color: #dddedf;
            border-radius: 100px;
        }



        /*會員管理系統 新增 查詢*/
        .tit{
            background-color: #dddedf;
            height:30px;
            width:100%;
            font-size: 20px;;
        }


            /* 表格全局樣式 */
        table {
                width: 80%;
        }

            /* 表格 1 的樣式 */
        #name1 {
                border-collapse: collapse;

        }

        #name1 td {
            padding: 8px;
            text-align: left;
        }


            /* 表格 2 的樣式 */
        #name2 {
                border-collapse: separate;
                border-spacing: 0;
                border: 1px solid black;
                width:"80%";
        }

        #name2 thead {
            background-color: lightgrey; /* 設置灰色背景 */
        }


            /* 表格單元格的樣式 */
        #name2 td {
                border: 1px solid black;
                padding: 8px;
                text-align: center;
        }

        #name1 input[type="submit"] {
            width: 25%;
            padding: 8px;
            margin-top: 10px;
            background-color: #90b0cc;
            border-color:#90b0cc;
            border-style:solid;
            color:#ece8e8;
            border-radius: 100px;
        }

        /*滑鼠懸停顯示*/
        #name1 input[type="submit"]:hover {
            background-color: #45a049;
        }
        /*按鈕被點即時的顏色*/
        #name1 input[type="submit"]:active {
            background-color: #737e74;
        }

        button[name="sex"] {
            width: 50%;
            padding: 8px;
            margin-top: 10px;
            background-color: #90b0cc;
            border-color:#90b0cc;
            border-style:solid;
            color:#ece8e8;
            border-radius: 100px;
        }

        /*滑鼠懸停顯示*/
        button[name="sex"]:hover {
            background-color: #45a049;
        }
        /*按鈕被點即時的顏色*/
        button[name="sex"]:active {
            background-color: #737e74;
        }

        /* 將"刪除"按鈕移到表格正中央 */
        #刪除-container {

            margin-top: 10px;
            /* border-style:solid;*/
            text-align: center;
            margin: 20px auto; /* 自動上下居中，左右20px的間距 */
        }

        #刪除 {
            width: 10%;
            padding: 8px;
            background-color: #90b0cc;
            border-color:#90b0cc;
            color:#ece8e8;
            border-radius: 100px; /*圓角*/

            border: none;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            margin: 20px auto; /* 自動上下居中，左右20px的間距 */
        }
        /*滑鼠懸停顯示*/
        button#刪除:hover {
            background-color: #4d66d5;
        }
        /*按鈕被點即時的顏色*/
        button#刪除:active {
            background-color: #737e74;
        }



    </style>

</head>

<body>
    <h1><b>會員新增</b></h1>
    <div class = "tit">
        <ul>
            <li><b> 會員管理系統</b>
            <li><a aria-current="page" href="/create_member"> 新增</a>
            <li><a aria-current="page" href="/search_member" >查詢</a>
            <li><a aria-current="page" href="/shop_sys">購物車系統</a>
            <li><a aria-current="page" href="/shop_search" >購物車查詢</a>  
        </ul>
    </div><br>

    <div class="container">
        <div><p><b>會員查詢</b></p></div>

        <form action="/search_member" method="POST" id="searchForm">

            <table id="name1" border="1" rules="groups">

            <tr>
                <td>紀錄日期 </td>
                <td>開始日 
                    <input type="date" ame="start-date" size="10">           
                </td>
                <td > ~ 結束日
                    <input type="date" ame="end-date" size="10">
                </td>

                <td> 流水號 </td>

                <td> <input name="nunber" size="10"> </td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td>國家</td>
                <td  >
                    <select id="select_country" name="select_country"  size="number" onchange="updateCities()">
                        <option value="" disabled selected>Select</option>
                        <option value="台灣">台灣</option>
                        <option value="美國">美國</option>
                        <option value="英國">英國</option>
                        <option value="中國">中國</option>
                    </select><br>

                </td>
                <td></td>


                <td>城市</td>
                <td>
                    <select name="select_city" id="select_city" size="number">
                        <option value="">請選擇國家以顯示城市</option>
                    </select><br>    
                </td>



            </tr>

            <tr>
                <td>專長</td>
                <td >
                    <select name="select_country"  size="number" onchange="updateCities()" >
                        <option value="" disabled selected>Select</option>
                        <option value="select_country">台灣
                        <option value="select_country">美國
                        <option value="select_country">英國
                        <option value="select_country">中國  
                    </select>
                </td>
                <td></td>


                <td>帳號</td>
                <td><input typr=“email” name="email" size="10"> </td>
                
            </tr>
            <tr>
                <td></td>
                <td ><th align="left" ><input type="submit" name="send" value="查詢"></th></td>
                <td></td>
                <td></td>

            </tr>
            </table>
        </form>

        <p></p>
        <% if (errorMessage) { %>
            <div class="alert">
                <p><%= errorMessage %></p>
            </div>
        <% } %>

        <% if (data && data.length > 0) { %>
            <table id="name2" border="1" rules="groups">
                <thead>
                    <tr>
                        <td>刪除</td>
                        <td>紀錄日期</td>
                        <td>帳號</td>
                        <td>國家</td>
                        <td>城市</td>
                        <td>姓名</td>
                        <td>性別</td>
                        <td>修改</td>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(member => { %>
                        <tr>
                            <td><input type="checkbox" name="delete" value="<%= member.email %>"></td>
                            <td><%= member.recordDate %></td>
                            <td><%= member.email %></td>
                            <td><%= member.country %></td>
                            <td><%= member.city %></td>
                            <td><%= member.name %></td>
                            <td><%= member.gender %></td>
                            <td><button onclick="window.location.href='/edit_member/<%= member.email %>'">修改</button></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <table id="name2" border="1" rules="groups">
                <thead>
                    <tr>
                        <td>刪除</td>
                        <td>紀錄日期</td>
                        <td>帳號</td>
                        <td>國家</td>
                        <td>城市</td>
                        <td>姓名</td>
                        <td>性別</td>
                        <td>修改</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- 空的第一列 -->
                    <tr>
                        <td colspan="8">No data found</td>
                    </tr>
                </tbody>
            </table>
        <% } %>
        
        


        
    </div>



</body>

</html>