<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員查詢</title>
    <%- include('./header') -%>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/javascript.js"></script>

    <script>
      updateCountry();

      let selectedEmails = []; // 用於存儲選中會員的電子郵件地址

      // 當checkbox選取時將電子郵件地址添加到selectedEmails列表中
      function handleCheckboxChange(email) {
        if (selectedEmails.includes(email)) {
          selectedEmails = selectedEmails.filter((item) => item !== email);
        } else {
          selectedEmails.push(email);
        }
      }

      // 點擊刪除按鈕時調用的函數
      function deleteSelectedMembers() {
        const selectedEmails = Array.from(
          document.querySelectorAll('input[name="delete"]:checked'),
        ).map((checkbox) => checkbox.value);

        if (selectedEmails.length === 0) {
          alert('請選擇要刪除的會員');
          return;
        }

        if (confirm('確定要刪除選取的會員嗎？')) {
          fetch(`/delete_selected_members`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ selectedEmails }),
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error('刪除會員失敗');
              }
              // 刷新頁面或者重新加載資料
              window.location.reload();
            })
            .catch((error) => {
              console.error('刪除會員失敗:', error);
            });
        }
      }

      //按出查詢檢查是否有填入資料
      function validateForm() {
        const startDate = document.querySelector(
          'input[name="startDate"]',
        ).value;
        const endDate = document.querySelector('input[name="endDate"]').value;
        const email = document.querySelector('input[name="email"]').value;
        const country = document.querySelector('select[name="country"]').value;
        const city = document.querySelector('select[name="city"]').value;
        if (!startDate && !endDate && !email && !country && !city) {
          alert('請輸入查詢條件');
          return false; // 阻止表單提交
        }
        return true; // 允許表單提交
      }
    </script>
  </head>

  <body>
    <%- include('./head') %>
    <div class="container">
      <div class="page-title">會員查詢</div>

      <form
        action="/search_member"
        method="POST"
        id="searchForm"
        onsubmit="return validateForm()"
      >
        <div class="width-100 black-border">
          <div>
            <div class="td1">
              <label class="label-inline">紀錄日期：</label>
            </div>
            <div class="td2">
              <label class="label-inline" for="startDate">開始日</label>
              <input
                class="label-inline"
                type="date"
                name="startDate"
                id="startDate"
                size="10"
              />

              <label class="label-inline" for="endDate"> ~ 結束日</label>
              <input
                class="label-inline"
                type="date"
                name="endDate"
                id="endDate"
                size="10"
              />
            </div>

            <div class="td3">
              <label class="label-inline" for="id-nunber">流水號</label>
            </div>
            <div class="td4">
              <input
                class="label-inline"
                name="nunber"
                id="id-nunber"
                size="10"
                style="width: 200px"
              />
            </div>
          </div>
          <div class="td1">
            <label class="label-inline">國家：</label>
          </div>
          <div class="td2">
            <select
              id="select_country"
              name="country"
              size="number"
              onchange="updateCities()"
              style="width: 100px"
            ></select>
          </div>
          <div class="td3">
            <label class="label-inline" for="select_city">城市：</label>
          </div>
          <div class="td4">
            <select
              name="city"
              id="select_city"
              size="number"
              style="width: 100px"
            ></select>
          </div>
          <div></div>

          <div>
            <div class="td1">
              <label class="label-inline">主題：</label>
            </div>
            <div class="td2">
              <select name="select_skill">
                <option value="" disabled selected>Select</option>
                <option value="select_skill">拉拉拉</option>
              </select>
            </div>
            <div class="td3">
              <label class="label-inline" for="select_city">帳號：</label>
            </div>
            <div class="td4">
              <input
                type="“email”"
                name="email"
                size="10"
                style="width: 200px"
              />
            </div>
          </div>
          <div class="td-center">
            <input class="add-button" type="submit" name="send" value="查詢" />
          </div>
        </div>
      </form>

      <p></p>
      <% if (errorMessage) { %>
      <div class="alert">
        <p><%= errorMessage %></p>
      </div>
      <% } %>

      <div class="table-container">
        <!--滾動 -->
        <% if (data && data.length > 0) { %>
        <table id="name2" class="black-border" rules="groups">
          <thead>
            <tr>
              <td>刪除</td>
              <td>流水號</td>
              <td>紀錄日期</td>
              <td>帳號</td>
              <td>國家</td>
              <td>城市</td>
              <td>姓名</td>
              <td>性別</td>
              <td>主題</td>
              <td>修改</td>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(member => { %>
            <tr>
              <td>
                <input
                  type="checkbox"
                  name="delete"
                  value="<%= member.EMAIL %>"
                />
              </td>
              <td><%= member.ID %></td>
              <td>
                <%= new Date(member.RECORD_DATE).toISOString().split('T')[0] %>
              </td>
              <td><%= member.EMAIL %></td>
              <td><%= member.COUNTRY %></td>
              <td><%= member.CITY %></td>
              <td><%= member.NAME %></td>
              <td><%= member.INTERESTS %></td>
              <td><%= member.SEX === 'male' ? '男' : '女' %></td>
              <td>
                <button class="add-button"
                  onclick="window.location.href='/edit_member/<%= member.EMAIL %>'"
                >
                  修改
                </button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
        <table id="name2" border="1" rules="groups">
          <thead>
            <tr>
              <td>刪除</td>
              <td>紀錄日期</td>
              <td>帳號</td>
              <td>國家</td>
              <td>城市</td>
              <td>姓名</td>
              <td>性別</td>
              <td>修改</td>
            </tr>
          </thead>
          <tbody>
            <!-- 空的第一列 -->
            <tr>
              <td colspan="8">No data found</td>
            </tr>
          </tbody>
        </table>
        <% } %>
      </div>
    </div>
    <div class="delete-button-container">
      <button class="del-button" onclick="deleteSelectedMembers()" id="delete">刪除</button>
    </div>
  </body>
</html>
