<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>購物車查詢</title>
    <%- include('./header') -%>

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script>
      // 表單驗證函數
      function validateForm() {
        var startDate = document.getElementById('start-date').value;
        var endDate = document.getElementById('end-date').value;
        var email = document.getElementById('email').value;

        // 如果開始日期、結束日期或電子郵件為空，則提示填寫信息
        if (!startDate || !endDate || !email) {
          alert('請填寫日期跟帳號');
          return false;
        }
        return true;
      }
    </script>
  </head>

  <body>
    <%- include('./head') %>
    <div class="container">
      <div class="page-title">購物車系統</div>

      <form method="GET" action="/shop_search" onsubmit="return validateForm()">
        <label for="start-date">管理日期 開始日</label>
        <input
          type="date"
          id="start-date"
          name="startDate"
          value="<%= startDate %>"
        />

        <label for="end-date">~ 結束日</label>
        <input
          type="date"
          id="end-date"
          name="endDate"
          value="<%= endDate %>"
        />

        <label for="email">帳號</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="請輸入email"
          value="<%= email %>"
        />

        <button class="add-button" type="submit">查詢</button>
      </form>

      <table class="black-border" id="shop_search_table">
        <thead>
          <tr>
            <th>購買日期</th>
            <th>流水號</th>
            <th>Email</th>
            <th>商品列表</th>
            <th>總採購金額</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(item) { %>
          <tr>
            <td>
              <%= item.ORDER_DATE ? new
              Date(item.ORDER_DATE).toLocaleDateString('en-CA') : '' %>
            </td>
            <td><%= item.SERIAL_NUMBER %></td>
            <td><%= item.EMAIL %></td>
            <td>
              <ul>
                <% let purchasedItems = JSON.parse(item.PURCHASED_ITEMS ||
                '[]'); let totalPurchase = 0;
                purchasedItems.forEach(function(product) { let subtotal =
                product.quantity * product.price; totalPurchase += subtotal; %>
                <li>
                  <%= product.name %> - 數量: <%= product.quantity %>, 價錢: <%=
                  product.price %>, 金額: <%= subtotal.toLocaleString('zh-TW', {
                  style: 'currency', currency: 'TWD' }) %>
                </li>
                <% }); %>
              </ul>
            </td>
            <td>
              <%= totalPurchase.toLocaleString('zh-TW', { style: 'currency',
              currency: 'TWD' }) %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
